[Unit]
Description=Baserow Celery Export Worker
After=network.target

[Service]
Type=simple
User=baserow
Group=baserow
WorkingDirectory=__INSTALL_DIR__/__APP__
EnvironmentFile=__INSTALL_DIR__/__APP__/.env
ExecStart=__INSTALL_DIR__/__APP__/venv/bin/celery -A baserow worker --loglevel=INFO --queues=export -n export_worker@%h
Restart=always

[Install]
WantedBy=multi-user.target
